body{
    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* container */
.container{
   padding: 0 15px;
}

/* wrapper */
.wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

/* form */
.form{
    display: flex;
    gap: 20px;

    margin-bottom: 50px;
}

@media (max-width: 768px){
    .form{
        flex-direction: column;
    }
}

.form__input, .form__btn{
    padding: 7px 15px;
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    font-size: 18px;

    border-radius: 5px;
}

.form__btn{
    width: fit-content;
}

.form__input{
    width: 200px;

    border: 1px solid #ddd;
}
.form__input:focus{
    outline: 2px solid #0D6EFD;
}

.form__btn{
    color: #fff;
    border: 0;
    background-color: #0D6EFD;

    cursor: pointer;
    
    transition: background-color .3s linear;
}
.form__btn:hover{
    background-color: #013b91;
}

/* chart */
.chart__wrapper{
    width: 100%;
    height: 400px;
}


/* table */
.table-wrapper{
    margin-top: 50px;
    position: relative;
    overflow: auto;
}

.table{
    
    table-layout: auto;
    max-width: 1920px;
    
    height: 40px;

    overflow: scroll;
}

table, th, td {
    width: fit-content;
    border: 1px solid #ddd;
    border-collapse: collapse;

    background-color: #fff;
}

thead th:nth-child(1), th:nth-child(2){
    position: sticky;
  left: 0;
  background: white;
  z-index: 1;
  border: 1px solid #ddd;
}

thead th:nth-child(2){
    left: 78px;
}

tbody th{
    position: sticky;
  left: 0;
  background: white;
  z-index: 1;

  border: 1px solid #ddd;
}

tbody th:nth-child(2){
    left: 78px;
}

th, td{
    padding: 5px;
}

.table__cell-city{
    text-align: right;
}

.table__cell-name{
    width: 200px;
}

/* cell colors */
.green{
    background-color: rgb(155, 245, 155);
}

.yellow{
    background-color: rgb(252, 252, 147);
}

.red{
    background-color:rgb(250, 165, 165);
}

.white{
    background-color: #fff;
}

/* hide city */
.hide{
    display: none;
}